*
{
    margin:0;
    padding:0;
}
.checkbox input[type="checkbox"]:focus + label::before {
    outline: none !important;
  }
  .css-1w1rijm-MuiButtonBase-root-MuiButton-root
{
    outline: none !important;
    border-color: transparent !important;
    border:none !important;
}